*.iml
/caches/
/wrapper/dists/
/wrapper/
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
*.log
*.apk
*.ap_
*.swp
**/*.jar
