*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
*.log
*.apk
*.ap_
*.swp
**/*.jar
caches/
wrapper/dists/
