# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml

# Ignorar diretórios de distribuição do Gradle Wrapper
wrapper/dists/

# Ignorar arquivos grandes específicos
AppMyCash-master/caches/modules-2/files-2.1/gradle/gradle/8.11.1/9c644d15409b381dbb7955662d16d55acf90e909/gradle-8.11.1-src.zip
AppMyCash-master/wrapper/dists/gradle-8.11.1-bin/bpt9gzteqjrbo1mjrsomdt32c/gradle-8.11.1/lib/kotlin-compiler-embeddable-2.0.20.jar
AppMyCash-master/caches/8.11.1/transforms/6d25eecd0685699e51fd616fb8db4981/transformed/instrumented/instrumented-util-8.jar
AppMyCash-master/caches/8.11.1/transforms/59b0bfd8abf7bbce7140eeebbad8888e/transformed/original/util-8.jar
AppMyCash-master/caches/jars-9/o_a55bf086b16eab48576699cc87071051/lib.jar
caches/8.11.1/generated-gradle-jars/gradle-api-8.11.1.jar
AppMyCash-master/caches/8.11.1/transforms/ffd2af7052069f69ee23082f4828067c/transformed/instrumented/instrumented-gradle-api-8.10.jar
AppMyCash-master/caches/8.11.1/transforms/357e94bb9ee56489b3403a689fb0781d/transformed/original/gradle-api-8.10.jar

# Caches e arquivos temporários
caches/
*.log
*.class
wrapper/dists/

# Sistema operacional
.DS_Store
Thumbs.db